@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 5%;
  color-scheme: light dark;

  color: #213547; 
  background-color: #F0F8FF; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3{
  color: #2164f3;
}

html.dark {
  color: rgba(255, 255, 255, 0.87); 
  background-color: #242424; 
}

@media (min-width: 768px) {
  :root {
    margin: 5%;
  }
}

@media (min-width: 1024px) {
  :root {
    margin: 3% 20%;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
